/* Self-hosted (SIL Open Font License, see src/assets/fonts): the app must look the
   same offline and inside a native shell, so nothing is fetched from a font CDN. */
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../../assets/fonts/bricolage-grotesque-latin-wght-normal.woff2') format('woff2');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('../../assets/fonts/instrument-sans-latin-wght-normal.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
